.profile {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  column-gap: 40px;
  padding-top: 40px;
  align-items: center;
}
.profile img {
  width: 350px;
  height: 350px;
}
.profile h3 {
  font-size: 40px;
  font-weight: 400;
  color: transparent;
  
  background: linear-gradient(338deg,#19e4ea 70%, #0b1cae 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.profile .rightSIde{
    width: 40%;
}
p{
    font-size: 20px;
    
}
.profile .info{
    font-size:30px ;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #0a1367;
}