.container {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
svg{
  width: 30px;
  height: 30px;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0, 0, -7);
}
.modalContent{
  padding: 10px;
  width: 600px;
  height: 500px;
  border-radius: 36px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
transform: translate(-50%,-50%);
}