.log {
  /* padding-top: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  align-content: center;
  width: 70%;
  border-radius: 10px;
  background-color: rgb(198, 235, 228);
  height: fit-content;
  margin: auto;
  margin-top: 80px;
}
.log img {
  width: 50%;
  height: 450px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
}
.log .forFormik {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 50%;
  align-items: center;
}
.forFormik form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 70%;
}
.log input {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: solid 2px rgb(100, 171, 174);
  background-color: rgb(230, 245, 246);
}
.log input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}
.log form button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(116, 155, 156);
  color: white;
  font-size: 18px;
}
.log form button:hover {
  background-color: rgb(117, 143, 144);
  cursor: pointer;
}
.log form span {
  color: red;
}
